
{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}

            function check2pwd() {  
                    if(re_new_password.value != new_password.value) {  
                        alert("les noves contrasenyes no són les mateixes")  
                        re_new_password.value = "";  
                        new_password.value = "";  
                    }  
            }  
</script>




{% endblock %}
{% block body %}

<div class="container">
	<div class="row">

		<div class="col-lg-8 col-md-8">
			<h2>Gestiona la teva conta</h2><br/>
			<form name="guardar_dades" action="gestiouserverification1" method="post" enctype="multipart/form-data" >

				<label>Icona</label>
				<input type="file" name="icona" class="form-control" required >
				<br>
				<label>Email</label>
				<input type="email" name="email" class="form-control" required>
				<br/>
				<input type="submit" name="canvis1" id="canvis1" value="Guardar informacio" class="btn btn-primary" >
				<br/>
			</form>
			<br/>
			<br/>
			<br/>

			<h2>Gestiona la teva contrasenya</h2>
			<br/>
			
			<form name="guardar_dades" action="gestiouserverification2" method="post" enctype="multipart/form-data" >
				<label>Contrasenya actual</label>
				<input type="password" name="password" class="form-control" required>
				<br>
				<label>Nova contrasenya</label>
				<input type="password" name="new_password"  id="new_password" class="form-control" required>
				<br>
				<label>Repeteix la nova contrasenya</label>
				<input type="password" name="re_new_password" id="re_new_password" class="form-control" onblur="check2pwd()" placeholder="Rewrite password" required>
				<br/>
				<input type="submit" name="canvis2" id="canvis2" value="Canvia contrasenya" class="btn btn-primary" >
			</form>
		</div>
	</div>
</div>
   

              

{% endblock %}