{% extends 'base2.html.twig' %}

{% block body %}
<script>  
            function check2pwd() {  
                    if(inputPassword.value != Repassword.value) {  
                        alert("les contrasenyes no són les mateixes")  
                        inputPassword.value = "";  
                        Repassword.value = "";  
                    }  
            }  
        </script>
<div class="col-md-12 no_pading">
  <div class="col-md-12 fons no_pading ">
  <div class="col-md-4 no_pading formulari_registre">
   <form class="form-signin" action="loginverification" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Accedeix</h1>
      <label  class="sr-only">Usuari</label>
      <input type="text" id="Email" name="user" class="form-control" placeholder="Usuari" required autofocus>
      <label for="Password" class="sr-only">Password</label>
      <input type="password" id="Password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entra</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      <p>Si no estàs subscrit <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Registra't</button></p>
    </form>
{% if msg is defined %}
    <p>{{msg}}</p>
{% endif %}    
</div>
  </div>
  </div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
   <form class="form-signin" action="registreverification" method="post">
      <div class="modal-header">
        
        <h4 class="modal-title">Registre</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
      <label>Correu electronic</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correu electronic" required>
      <br>
      <label>Nom</label>
      <input type="text" id="nom" name="name" class="form-control" placeholder="nom" required>
      <br>
      <label>Nom de l'usuari</label>
      <input type="text" id="user" name="user" class="form-control" placeholder="Nom de l'usuari" required>
      <br>
      <label>Contrasenya</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contrasenya" required>
      <br>
      <label>Torna ha escriure la contrasenya</label>
      <input type="password" id="Repassword" name="repassword" class="form-control" onblur="check2pwd()" placeholder="Torna ha escriure la contrasenya" required>
      </div>
      
      <br>
     
        <div class="modal-footer col-md-12 float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrat</button>
      
    </div>

    </form>
    </div>
    </div>

</div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}