
{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}

            function check2pwd() {  
                    if(re_new_password.value != new_password.value) {  
                        alert("les noves contrasenyes no són les mateixes")  
                        re_new_password.value = "";  
                        new_password.value = "";  
                    }  
            }  
</script>






{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
     <div class="col-lg-8 col-md-8">
		 <h2>Gestiona la teva conta</h2><br>
			<form name="comunitatverification" action="/comunitat/comunitatverification" method="post" enctype="multipart/form-data">
				<label class="control-label">Nom</label>
				<input type="text" name="name" class="form-control" required>
				<br>
				<label class="control-label">Description</label>
        <input type="text" name="description" class="form-control" required>
        <br>
        <label class="control-label">imatge del avatar</label>
        <input type="file" name="avatar" class="form-control" required>
        <br>
        <label class="control-label">imatge de capçalera</label>
        <input type="file" name="imgtitle" class="form-control" required>
        <br>
				<input type="submit" name="canvis" id="canvis" value="Guardar canvis" class="btn btn-primary" >
			</form>
		</div>
	</div>
</div>
             
               

{% endblock %}