
{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
           }  
</script>






var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}
{% block body %}
<body>
   


    
   
    <section id="blog-section" > 
     <div class="container">
       <div class="row">
        
           <div class="row">
           
             <h2>Posts</h2>&nbsp;
             </div>
              <div class="row">
           
             <p>Publicar un nou post <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Crea post</button></p>
            </div>

        <div class="row">
        <div class="col-lg-8 col-md-8">
        {% for post in data %}
        <div class="col-lg-6 col-md-6">
        <aside>
                <a href="/perfil/post"><img src="{{post.img}}" class="img-responsive"></a>
                <div class="content-title"></div>
                <div class="content-footer">
                <span>{{post.messages}}</span><br>
                <span style="font-size: 16px;color: #fff;">{{post.user}}</span>
                <span class="pull-right">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> numero</a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> likes</a>
                <span>{{post.createtime}}</span>                  
                </span>
                </div>
        </aside>
        </div>
        
      {% endfor %}
        </div>
              
              <div class="col-lg-4 float-right">           
               <div class="widget-sidebar">
                 <h2 class="title-widget-sidebar">// EVENTS</h2>
                   <div class="content-widget-sidebar">
                    <ul>
                     <li class="recent-post">
                        <div class="post-img">
                         <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-responsive">
                         </div>
                         <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                         <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
                        </li>
                        <hr>
                        
                        <li class="recent-post">
                        <div class="post-img">
                         <img src="https://lh3.googleusercontent.com/-ojLI116-Mxk/WM1ZIwdnuwI/AAAAAAAADeo/4K6VpwIPSfgsmlXJB5o0N8scuI3iW4OpwCJoC/w424-h318-n-rw/thumbnail6.jpg" class="img-responsive">
                         </div>
                         <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                         <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
                        </li>
                        <hr>
                        
                        <li class="recent-post">
                        <div class="post-img">
                         <img src="https://lh3.googleusercontent.com/-TrK1csbtHRs/WM1ZI1SIUNI/AAAAAAAADeo/OkiUjuad6skWl9ugxbiIA_436OwsWKBNgCJoC/w424-h318-n-rw/thumbnail3.jpg" class="img-responsive">
                         </div>
                         <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                         <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
                        </li>
                        <hr>
                        
                        <li class="recent-post">
                        <div class="post-img">
                         <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                         </div>
                         <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                         <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
                        </li>
                        
                        
                    </ul>
                   </div>
          </div>
           </div>
        </div>
          </div>
         
           </div>
          </div>
    </section>
    
    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
   <form class="form-signin" action="postverification" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h4 class="modal-title">Nou Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
                 <div class="col-lg-12 col-md-12">
                     <label>Selecciona arxiu</label>
                     <input class="form-control" name="image" type="file" >
                     <label>Escriu el cos de la publicació</label><br>
                     <input class="form-control" type="text"  name="message">
                 </div>
              
      </div>
      
      <br>
     
        <div class="modal-footer col-md-12 float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-md btn-primary btn-block" type="submit">Publicar</button>
      
        </div>

    </form>
    </div>
    </div>
    </div>
</div>




{% endblock %}