
{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
           }  
</script>






var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}
{% block body %}
<body>
   


    
   
    <section id="blog-section" > 
     <div class="container">
       <div class="row">
        <h2>Titular noticia</h2>
           <div class="row">
        
        <div class="col-lg-12 col-md-12">
            <img class="img-responsive" src="">
        <div class="col-lg-6 col-md-6">
        <aside>
                <a href="/perfil/post"><img src="{{post.img}}" class="img-responsive"></a>
                <div class="content-title"></div>
                <div class="content-footer">
                <span>{{post.messages}}</span><br>
                <span style="font-size: 16px;color: #fff;">{{post.user}}</span>
                <span class="pull-right">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> numero</a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> likes</a>
                <span>{{post.createtime}}</span>                  
                </span>
                </div>
        </aside>
        </div>
        
      {% endfor %}
        </div>
        </div>
        </div>
        </div>
      </section>





{% endblock %}