{% block body %}
<h1>Adding a new imatge</h1>
{{ form_start(form) }}
{# ... #}                   
{{ form_row(form.Imatgeud) }}
<input type="submit" value="submit">
{{ form_end(form) }}
<a href="{{ asset('/uploads/' ~ Imatgeupload.imatgeud) }}">View brochure (PDF)</a>
{% endblock %}